.main-section{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.main-section .main-button{
    margin-left: 20px;
}

.main-section .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}