.main-table {
    display: table  ;
    border: 2px solid #080808;
    border-collapse: collapse;
    text-align: center
}

.main-table th{
    border: solid 1px #080808;
    color: #FB6868;
    padding-left: 5px;
    padding-right: 5px;
    border-collapse: inherit;
}

.main-table tr,.main-table td {
    border: solid 1px #080808;
    color: #2A2A2A;
    padding: 1px 5px;
    border-collapse: inherit;
}

.main-table input{
    width: 58px;
}

.main-table.-result{
    display: table  ;
    border: 3px solid #080808;
    border-collapse: collapse;
    text-align: center
}

.main-table.-result th{
    border: solid 1px #080808;
    font-size: 20px;
    color: #FB6868;
    padding: 5px 10px;
    border-collapse: inherit;
}

.main-table.-result tr,.main-table.-result td {
    border: solid 1px #080808;
    color: #2A2A2A;
    padding: 5px 10px;
    border-collapse: inherit;
}